cscope.*
.classpath
.project
.svn
.externalToolBuilders/
maven-eclipse.xml
target/
bin/
*/bin/
.idea
.vscode
*.iml
.settings/
out/
.DS_Store
test-output
*.log
.doppelganger
docs/_build
*.ipr
*.iws
.*.swp
**/.docker/
**/.env
**/.factorypath
